<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
    <script src="/javascripts/scripts.js"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<div class="wrapper">
        <nav>
            <!-- When the navigation button is clicked the submenu shows -->
            <button id="nav" onclick="show()">Navigation menu</button>
            <div class="hide" id="expandingMenu">
                <a class="subMenu thumb-pr mn" href="/">Home</a>    
                <% if (!session.userId) { %> <!-- Check if user is not logged in -->                        
                    <a class="subMenu thumb-pr mn" href="/accounts/login">Login</a>
                    <a class="subMenu thumb-pr mn" href="/accounts/register">Signup</a>     
                <% } else { %> <!-- User is logged in -->   
                    <a class="subMenu thumb-pr mn" href="/user/profile">Profile</a>
                    <a class="subMenu thumb-pr mn" href="/Stocks">Stocks</a>
                    <a class="subMenu thumb-pr mn" href="/crypto">Crypto</a>
                    <a class="subMenu thumb-pr mn" href="/portfolio">Portfolio List</a> 
                    <a class="subMenu thumb-pr mn" href="/rating">Feedback</a> 
                    <a class="subMenu thumb-pr mn" href="/Logout">Logout</a>                 
                <% } %>       
            </div>
        </nav>
</div>