<div class="wrapper">
    <html>
    <h1><%= title %></h1>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
    </head>
    <div class="ra-r">
        <div class="tp">
        <nav>
            <a class="thumb-pr mn" href="/views/index.ejs">Home</a> 
            <a class="thumb-pr mn" href="/accounts/login">Login</a>
            <a class="thumb-pr r-e" href="/bookings/signup">Signup</a> 
        </nav>
    </div>
</div>
<body>
    <div class="row">
        <div class="column">
          <img src="/" class="rectangle-image">
          <!-- Image Source: https://www.es-promotions.com/our-services/team-building-ideas/parachutes -->
          <img src="/images/parachute.jpg" class="rectangle-image">
          <!-- Image Source: https://www.lollamac.co.uk/item/silver-earrings-workshop/ -->
          <img src="/images/Pendant-Making.jpg" class="square-image">
        </div>

</body>
</html>