<div class="wrapper">
    <html>
    <head>
        <h1><%= title %></h1>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
        <script href="/javascripts/scripts.js" ></script>
    </head>
        <nav>
            <!-- When the navigation button is clicked the submenu shows -->
            <button id="nav" onclick="show()">Navigation menu</button>
            <div class="hide" id="expandingMenu" >
                <a class="thumb-pr mn" href="/views/index.ejs">Home</a> 
                <a class="thumb-pr mn" href="/accounts/login">Login</a>
            </div>
        </nav>
<body>
    <div class="row">
        <div class="image-cols">
          <!-- Image Source: pngwing.com -->
          <img src="/images/image1.png" height="150" width="100">
          <!-- Image Source: pngwing.com -->
          <img src="/images/image2.png" height="150" width="100">
          <!-- Image Source: pngwing.com -->
          <img src="images/image3.png" height="150" width="100">
        </div>

</body>
</html>