<div class="wrapper">
    <html>
    <h1><%= title %></h1>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/stylesheet.css"/>
    </head>
    <div class="ra-r">
        <div class="tp">
        <nav>
            <a class="thumb-pr mn" href="/views/index.ejs">Home</a> 
            <a class="thumb-pr mn" href="/accounts/login">Login</a>
            <a class="thumb-pr r-e" href="/bookings/signup">Signup</a> 
        </nav>
    </div>
</div>
<body>
    <div class="row">
        <div class="column">
          <!-- Image Source:  -->
          <img src="/images/parachute.jpg">
          <!-- Image Source:  -->
          <img src="/images/parachute.jpg">
          <!-- Image Source:  -->
          <img src="images/parachute.jpg">
        </div>

</body>
</html>