<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
        <script src="/javascripts/scripts.js"></script>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    </head>
    <header>
        <h1><%= title %></h1>
    </header>
    <nav>
        <%- include ('partials/headers'); %>
    </nav>
    <div id="message"></div>
<body>
    <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
    <% } %>
    <form action="/accounts/login" method="POST">
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        <p><a href="/accounts/request-password-reset">Forgot your password?</a></p>
        <button type="submit">Login</button>
    </form>
    

</body>
</html>