<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
        <script src="/javascripts/scripts.js"></script>
    </head>
    <header>
        <h1><%= title %></h1>
    </header>
    <nav>
        <%- include ('partials/headers'); %>
    </nav>
<body>
    <form action="/accounts/login" method="POST">
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>
    <p><a href="/accounts/request-password-reset">Forgot your password?</a></p>

</body>
</html>