<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
        <script src="/javascripts/scripts.js"></script>
    </head>
    <header>
        <h1>Password Reset</h1>
    </header>
    <nav>
        <%- include ('partials/headers'); %>
    </nav>
<body>
    <form action="/accounts/reset-password" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        <label>New Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
