<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
        <script src="/javascripts/scripts.js"></script>
        
    </head>
    <header>
        <h1><%= title %></h1>
    </header>
    <nav>
        <%- include ('partials/headers'); %>
    </nav>
    <div id="message"></div>
<body> 
       <% if (errorMessage) { %>
    <p class="error-message"><%= errorMessage %></p> <% } %>
    <form action="/accounts/register" method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
