<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stock: <%= %></title>
        <link rel="stylesheet" type='text/css'href="/stylesheets/stylesheets.css">
    </head>
    <body>
        <div class ='wrapper'>
            <div class = 'stockGraph'>
                <%- graphHtml %>
            </div>
        </div>
    </body>
</html>